@import 'src/scss/variables';

:host {

  display: block;
  position: relative;
  padding: 8px 0;

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;

    li a {
      margin: 8px;
      padding: 8px 16px;
      color: var(--bs-white);
      font-weight: 500;
      text-decoration: none;


      &:hover,
      &.active {

        background-color: var(--bs-orange);
        border-color: var(--bs-orange);
      }

    }
  }



}
