:host {


  h1 {
    font-size: 24px;
    margin-top: .3em;
  }

  h2 {
    font-size: 18px;
    margin-top: .3em;
  }

  h3 {
    font-size: 15px;
    margin-top: .3em;
  }

  h4, p {
    font-size: 14px;
  }

  .user {
    padding: 8px 0;
  }

  .user-posts {
    display: block;
  }

  .user-post {

    display: block;
    margin: 12px 0;

    h2 {
      padding-right: 100px;
    }

    .btn {
      position: absolute;
      top: 12px;
      right: 12px;
    }

  }


  .post-comments {
    padding: 12px;
    background-color: var(--bs-secondary-bg-subtle);
  }

  .post-comment {
    padding-bottom: 12px;

    h4 {
      margin-bottom: 8px;
    }
  }


}
