
<app-loader *ngIf="!loaded"></app-loader>

<div *ngIf="user && posts.length > 0 && loaded" class="user">

  <div *ngIf="user" class="user">
    <h1>Posts from {{user.name}}:</h1>
  </div>

  <div class="user-posts">

    <div *ngFor="let post of posts | slice:0:postsToShow" class="user-post">
      <h2>{{post.title}}</h2>
      <div class="post-body">
        {{post.body}}
      </div>
      <div *ngIf="expandedPosts[post.id]" class="post-comments">
        <app-loader *ngIf="!post.comments"></app-loader>
        <div *ngFor="let comment of post.comments">
          <h3>{{comment.name}} ({{comment.email}})</h3>
          <p>{{comment.body}}</p>
        </div>
      </div>
      <button class="btn" (click)="showComments(post.id)">Expand</button>
    </div>

  </div>

  <div class="user-actions">
    <button class="btn" (click)="showAllPosts()">Load All</button>
  </div>

</div>

<div *ngIf="!user && posts.length === 0 && loaded">
  <h3>User does not exist</h3>
</div>

<div *ngIf="user && posts.length === 0 && loaded">
  <h3>No Posts for this user</h3>
</div>
