

<div *ngIf="user" class="container user">

  <div class="row">
    <div *ngIf="user" class="col-12">
      <h1>Posts from {{user.name}}:</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-loader *ngIf="!loaded"></app-loader>

      <ng-container *ngIf="loaded && posts.length > 0">
        <div class="user-posts">

          <div *ngFor="let post of posts | slice:0:postsToShow" class="user-post card">

            <button class="btn btn-primary" (click)="showComments(post.id)">Expand</button>

            <div class="card-body">
              <h2>{{post.title}}</h2>
              <div class="post-body">
                {{post.body}}
              </div>
            </div>

            <div *ngIf="expandedPosts[post.id]" class="post-comments card-body">

              <h3>Comments:</h3>

              <div *ngFor="let comment of post.comments" class="post-comment">
                <h4>{{comment.name}} ({{comment.email}})</h4>
                <p>{{comment.body}}</p>
              </div>

              <app-loader *ngIf="!post.comments"></app-loader>

            </div>

          </div>

          <div class="user-actions">
            <button class="btn btn-primary" (click)="showAllPosts()">Load All</button>
          </div>

        </div>



      </ng-container>



      <div *ngIf="posts.length === 0 && loaded">
        <h3>No Posts for this user</h3>
      </div>




      <div *ngIf="!user">
        <h3>User does not exist</h3>
      </div>


    </div>
  </div>
</div>

